@keyframes slidedown {
  from {
    opacity: 0;
    transform: translatey(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes survol {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0);
  }
  99% {
    transform: rotate(360deg);
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
  }
  100% {
    transform: rotate(0);
    width: 0;
    height: 0;
    margin-left: -800px;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes afterload {
  0% {
    opacity: 0.3;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.carte1 h1 {
  font-family: "Shrikhand";
}

h4 {
  font-family: "Roboto";
}

P {
  font-family: "Roboto";
  font-size: 14px;
}

.carte1-presentation__menu, .fonctionnement__etape {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.11);
}

.carte1-presentation__menu__name p, main .resto-carte__description p, .form__recherche p {
  filter: opacity(0.5);
}

.header-logo {
  width: 100%;
  box-shadow: "0 5px 10px 0" #fff;
  padding: 18px;
  font-size: 20px;
}
.header-logo__link {
  display: flex;
  justify-content: center;
}
.header-logo__img {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: auto;
  }
  .header-logo__img {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .header-logo {
    width: auto;
  }
  .header-logo__link {
    display: flex;
    justify-content: center;
  }
  .header-logo__img {
    width: 20%;
  }
}
.header-logo__return {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 10px;
  color: black;
  opacity: 80%;
}
.header-logo__return .fa-solid {
  font-weight: bold;
  font-size: 30px;
}

.form {
  background-color: #F5F5F5;
}
.form__localisation {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2) inset;
}
.form__localisation--champ {
  border: none;
  text-align: center;
  background-color: gainsboro;
}
.form__recherche {
  text-align: center;
  padding: 30px 30px 50px 30px;
}
.form__recherche h1 {
  font-family: "Roboto";
}
.form__recherche--bouton {
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
  border: none;
  color: white;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  margin: 15px;
}
.form__recherche--bouton:hover {
  transform: scale(1.1);
  box-shadow: 0 30px 12px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

.carte1-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carte1-button button {
  margin: 35px 55px;
  width: 200px;
  border-radius: 30px;
  padding: 15px;
  font-size: 15px;
  border: none;
  color: white;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
}
.carte1-button button:hover {
  transform: scale(1.1);
  box-shadow: 0 30px 12px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.fonctionnement {
  width: auto;
  margin: 0 30px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    width: 50%;
    margin: auto;
  }
}
.fonctionnement h1 {
  font-family: "Roboto";
}
.fonctionnement__etape {
  border-radius: 20px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: initial;
  overflow: hidden;
}
.fonctionnement__etape:hover {
  background-color: rgba(238, 130, 238, 0.1725490196);
}
.fonctionnement__etape h4 {
  margin-left: 33px;
}
@media screen and (min-width: 768px) {
  .fonctionnement__etape h4 {
    margin-left: auto;
    margin-right: auto;
  }
}
.fonctionnement__cercle {
  position: absolute;
  left: -10px;
  color: white;
  font-size: 13px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.fonctionnement__cercle p {
  position: absolute;
  bottom: -11px;
  right: 7px;
}
.fonctionnement__icone {
  position: absolute;
  left: 20px;
  color: gray;
  font-size: 13px;
}

.fonctionnement__etape:hover .fonctionnement__icone {
  color: #9356DC;
}

.global {
  width: auto;
  margin: auto;
  cursor: pointer;
  animation: afterload 3s;
  z-index: 0;
}
.global-loader {
  position: absolute;
  z-index: 1;
  height: 100%;
  background-color: white;
  animation: loading 3s forwards;
}
.global-loader__rotate {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-left: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC;
  animation: load linear 3s forwards;
}

main {
  background-color: #F3F3F3;
}
main h1 {
  position: relative;
  top: 35px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 25px;
}
main .resto {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  main .resto {
    display: flex;
    justify-content: center;
  }
}
main .resto-carte {
  border-radius: 15px;
  background: white;
  width: 90%;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
main .resto-carte__nouveau p {
  background-color: #99E2D0;
  color: #1b6150;
  width: 70px;
  padding: 5px;
  position: absolute;
  right: 10px;
}
@media screen and (min-width: 768px) {
  main .resto-carte {
    margin-bottom: 25px;
    height: auto;
    max-width: 45%;
    margin: 1rem;
  }
}
main .resto-carte--img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 160px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  main .resto-carte--img {
    height: 15em;
    max-width: 100%;
    max-height: 100%;
  }
}
main .resto-carte__footer {
  padding-bottom: 20px;
  position: initial;
}
main .resto-carte__description {
  color: black;
}
main .resto-carte__description h4 {
  margin: 10px 10px;
}
main .resto-carte__description p {
  margin: -5px 10px;
}
main .resto-carte .resto-carte__icone {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 0;
  font-size: 30px;
  top: 180px;
  right: 13px;
}
@media screen and (min-width: 768px) {
  main .resto-carte .resto-carte__icone {
    top: 255px;
  }
}
main .resto-carte .resto-carte__solid {
  position: absolute;
  font-size: 30px;
  top: 180px;
  right: 13px;
  overflow: hidden;
  background: white;
  color: black;
  z-index: 0;
}
main .resto-carte .resto-carte__solid:hover {
  color: transparent;
  animation: heart 3s forwards;
}
@media screen and (min-width: 768px) {
  main .resto-carte .resto-carte__solid {
    top: 255px;
  }
}

.carte1 {
  width: auto;
  cursor: pointer;
  background-color: #F5F5F5;
}
.carte1-img {
  width: 100%;
  object-fit: cover;
}
.carte1-background {
  background-color: #F5F5F5;
  border-radius: 50px 50px 0 0;
  padding: 15px;
  position: relative;
  top: -45px;
  margin-bottom: -45px;
}
@media screen and (min-width: 768px) {
  .carte1-background {
    top: -200px;
    margin-bottom: -200px;
  }
}
.carte1 h3 {
  border-bottom: 2px solid #99E2D0;
  width: 50px;
  padding: 5px 0;
}
.carte1-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.carte1-header__icone {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 0;
  font-size: 30px;
  right: 30px;
  top: 40px;
}
.carte1-header__solid {
  position: absolute;
  overflow: hidden;
  color: black;
  background: #F5F5F5;
}
.carte1-header__solid:hover {
  color: transparent;
  animation: heart 3s forwards;
}
.carte1-presentation {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  opacity: 0;
  transition: ease-in 2s;
}
.carte1-presentation:nth-child(3) {
  animation: slidedown 1s 0.5s forwards;
}
.carte1-presentation:nth-child(5) {
  animation: slidedown 1s 1s forwards;
}
.carte1-presentation:nth-child(7) {
  animation: slidedown 1s 1.5s forwards;
}
.carte1-presentation__menu {
  width: auto;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: ease-in-out 500ms;
  overflow: hidden;
}
.carte1-presentation__menu__name {
  display: flex;
  flex-direction: column;
  margin: -12px 10px;
  overflow: hidden;
}
.carte1-presentation__menu__name h4 {
  margin-bottom: -9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte1-presentation__menu__name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte1-presentation__menu__price {
  display: flex;
  align-items: flex-end;
}
.carte1-presentation__menu__price p {
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .carte1-presentation {
    margin: 10px 20px;
  }
}
.carte1-presentation__animation__check {
  background-color: #99E2D0;
  color: white;
  text-align: center;
  padding: 25px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  margin-right: -66px;
  transition: margin-right 500ms ease-in-out;
}
.carte1-presentation__animation__check__rotate {
  transition: transform 500mss;
}

.carte1-presentation__menu:hover .carte1-presentation__animation__check {
  margin-right: 0px;
}

.carte1-presentation__menu:hover .carte1-presentation__animation__check .carte1-presentation__animation__rotate {
  animation: survol 1s;
}

.footer-bloc {
  width: auto;
  background-color: #363636;
  padding: 20px 0;
}
.footer-bloc h2 {
  margin: 20px;
  color: white;
  font-family: "Shrikhand";
}
.footer-bloc__info {
  display: flex;
  align-items: center;
  margin: -22px 20px;
  color: white;
  text-decoration: none;
}
.footer-bloc__info h4 {
  padding: 0 10px;
  font-size: 14px;
}
.footer-bloc__contact {
  text-decoration: none;
  color: white;
}
.footer-bloc__contact p {
  padding: 0 20px;
}

/*# sourceMappingURL=styles.css.map */
