.form__recherche--bouton {
        border-radius: 30px;
        padding:15px;
        border: none;
        color: white;
        margin: 15px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        background-image: linear-gradient(0deg, $color-primaire, $color-second);
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 30px 12px 0 rgb(0 0 0 / 25%);
                opacity: 0.8;
            }
    }

    
    .carte1-button {
        text-align: center;

        & button {

            width: 190px;
            border-radius: 30px;
            padding:15px;
            border: none;
            color: white;
            margin: 35px 55px;
            cursor: pointer;
            transform: scale(1);
            transition: transform 400ms;
            background-image: linear-gradient(0deg, $color-primaire, $color-second);
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 30px 12px 0 rgb(0 0 0 / 25%);
                opacity: 0.8;
            }
        }
    }
