.form__recherche--bouton {
        border-radius: 30px;
        padding:15px;
        border: none;
        color: white;
        margin: 15px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        background-image: linear-gradient(0deg, $color-primaire, $color-second);
        @include version-desktop {
            &:hover {
                transform: scale(1.15);
                box-shadow: 0 30px 12px 0 rgb(0 0 0 / 25%);
            }
        }
    }

    .header-logo__button {
        border: none;
        background-color: transparent;
        position: absolute;
        left: 10px;
    }
