.form__recherche--bouton {
        border-radius: 30px;
        padding:15px;
        border: none;
        color: white;
        margin: 15px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9), rgba(225,121,218,.9));
        @include version-desktop {
            &:hover {
                transform: scale(1.15);
                box-shadow: 0 30px 12px 0 rgb(0 0 0 / 25%);
            }
        }
    }

    .resto-carte {
        & button {
            border: none;
            background-color: white;
        }
        &__button {
            position: absolute;
            top:175px;
            right: 10px;
            
        }
        &__icone {
            &:hover {
                transform: scalex(1);
                background-image: linear-gradient(0deg,rgba(147,86,220,.9), rgba(225,121,218,.9));
            }
        }
    }
