.form__recherche--bouton {
    @include button;
    margin: 15px;

    &:hover {
        @include buttonhover;
    }
}


.resto-carte__heart {
    border: none;
    background-color: transparent;
    margin-left: -80px;
}


.resto-carte__icone {
    @include heartempty;
    @include heartsize;
    @include version-tablette {
        top: 255px;
    }
}

.resto-carte__solid {
    @include heartfull;
    @include heartsize;
    background: white;
    z-index: 0;
    &:hover {
        color: transparent;
        animation: heart 3s forwards;
    }

    @include version-tablette {
        top: 255px;
    }

}


.carte1-button {
    display: flex;
    align-items: center;
    justify-content: center;

    & button {
        margin: 35px 55px;
        width: 200px;
        @include button;

        &:hover {
            @include buttonhover;
        }
    }
}
