//@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
//@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
*,
*::before,
*::after {
   box-sizing: border-box;
}

 .carte1 h1 {
   font-family: $titre1-police;
 }
 
 h4 {
   font-family: $page-police;
 }
 P {
   font-family: $page-police;
   font-size: $taille-police;
 }

 

