@keyframes slidedown {
    from {
        opacity: 0;
        transform: translatey(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes survol {
    from {
        transform: rotate(0);
        
    }
    to {
        
        transform: rotate(360deg);
    }
    }
    
    @keyframes load {
        0% {
            transform: rotate(0);
            
        }
        
        100% {
            transform: rotate(360deg);
            display: none;
            
        }
        }

    @keyframes afterload {
        0% {  
            opacity:0.3; 
        } 
        99% {
            opacity: 0.3;
        }
        100% { 
            opacity:1; 
        }
      }


