@keyframes slidedown {
    from {
        opacity: 0;
        transform: translatey(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes survol {
    from {
        transform: rotate(0);
        
    }
    to {
        
        transform: rotate(360deg);
    }
    }
    
    @keyframes load {
        0% {
            transform: rotate(0);
        }
        
        99% {
            transform: rotate(360deg);
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
        }
        100% {
            transform: rotate(0);
            width: 0;
            height: 0;
            margin-left: -800px;
        }
        }

    @keyframes loading {
            0% {
                opacity: 1;  
            }
            99% {
                opacity: 1;
            }
            
            100% {
                opacity: 0;
                //transform:translateX(50px);
                
            }
        }

    @keyframes afterload {
        0% {  
            opacity:0.3; 
        } 
        99% {
            opacity: 0.3;
        }
        100% { 
            opacity:1; 
        }
    }

    
      @keyframes heart {
        0% {
            opacity: 1;
            //transform: translatex(0);
            }


        100% {
            opacity: 0;
            //transform: translatex(-33px);
            }
        }


