@mixin version-tablette {
    @media screen and (min-width:$breakpoints-tablette) {
        @content;
    }
}

@mixin version-desktop {
    @media screen and (min-width:$breakpoints-descktop) {
        @content;
    }
}

@mixin button {
    border-radius: 30px;
    padding:15px;
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    background-image: linear-gradient(0deg, $color-primaire, $color-second);
}

@mixin buttonhover {
    transform: scale(1.1);
    box-shadow: 0 30px 12px 0 rgb(0 0 0 / 25%);
    opacity: 0.8;
}


@mixin heartempty{
    position: absolute;
    color: transparent;
    background-image: linear-gradient(0deg,$color-primaire, $color-second);
    background-clip:text;
    -webkit-background-clip: text;
    z-index: 0;
}
@mixin heartfull{
        position: absolute;
        overflow: hidden;
        color:black;
}
@mixin hearthover {
            color: transparent;
            animation: heart 3s forwards;
        }  

        @mixin heartsize {
            font-size: 30px;
            top:180px;
            right: 13px;
        }