$color-primaire:#9356DC;
$color-second:#FF79DA;
$color-tertiaire:#99E2D0;
$color-arriere: #F3F3F3;
$color-champ: #DCDCDC;
$color-arriere-form:#F5F5F5;
$color-icone:gray;
$size-icone:13px;
$footer-size:14px;
$titre1-taille:25px;
$page-shadow-size:"0 5px 10px 0";
$page-police:'Roboto';
$titre1-police:'Shrikhand';
$titre4-taille:18px;
$taille-police:14px;
$allwidth:100%;
$breakpoints-tablette:768px;
$breakpoints-descktop:992px;