$color-primaire:#9356DC;
$color-second:#FF79DA;
$color-tertiaire:#99E2D0;
$color-arriere: #F3F3F3;
$color-champ: #DCDCDC;
$color-arriere-form:#F5F5F5;
$color-icone:gray;
$size-icone:13px;
$titre1-taille:25px;
$page-shadow-size:"0 5px 10px 0";
$page-police:"font-family:'Roboto', sans-serif";
$titre1-police:"font-family:'Shrikhand', cursive";
//$breakpoints-mobile:767px;
$breakpoints-tablette:768px;
$breakpoints-descktop:992px;