.global {
    width: auto;
    margin: auto;
    cursor: pointer;
    animation: afterload 3s;
    z-index: 0;

    //amiantion chargement de la page
    &-loader {
        position: absolute;
        z-index: 1;
        height: 100%;
        background-color: white;
        animation: loading 3s forwards;

        &__rotate {
            position: fixed;
            z-index: 2;
            left: 50%;
            top: 50%;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid white;
            border-radius: 50%;
            border-top: 16px solid $color-primaire;
            border-right: 16px solid $color-second;
            border-left: 16px solid $color-second;
            border-bottom: 16px solid $color-primaire;
            animation: load linear 3s forwards;
        }

    }
}

main {
    background-color: $color-arriere;

    & h1 {
        position: relative;
        top: 35px;
        margin: 0 20px;
        font-family: $page-police;
        font-size: $titre1-taille;
    }

    & .resto {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0;
        position: relative;

        @include version-tablette {
            display: flex;
            justify-content: center;

        }

        &-carte {
            border-radius: 15px;
            background: white;
            width: 90%;
            margin: 10px auto;
            position: relative;
            overflow: hidden;

            &__nouveau {
                & p {
                    background-color: $color-tertiaire;
                    color: darken($color-tertiaire, 50%);
                    width: 70px;
                    padding: 5px;
                    position: absolute;
                    right: 10px;
                }

            }

            @include version-tablette {

                margin-bottom: 25px;
                height: auto;
                max-width: 45%;
                margin: 1rem;
            }

            &--img {
                width: $allwidth;
                border-radius: 15px 15px 0 0;
                height: 160px;
                object-fit: cover;

                @include version-tablette {
                    height: 15em;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            &__footer {
                padding-bottom: 20px;
                position: initial;
            }

            &__description {
                color: black;

                & h4 {
                    margin: 10px 10px;
                }

                & p {
                    margin: -5px 10px;
                    @extend %textopacy;

                }
            }

        }
    }


}