.global {
    width: auto; 
    margin: auto;
    cursor: pointer;
    animation: afterload 3s;
    z-index: 0;
  //amiantion chargement de la page
    &-loader {
        position: absolute;
        z-index: 1;
        height: 100%;
        background-color: white;
        animation: loading 3s forwards;
        &__rotate {
            position: fixed;
            z-index: 2;
            left: 50%;
            top:50%;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid white;
            border-radius: 50%;
            border-top: 16px solid $color-primaire;
            border-right: 16px solid $color-second;
            border-left: 16px solid $color-second;
            border-bottom: 16px solid $color-primaire;
            animation: load linear 3s forwards;
        }

    }
}

    main {
        background-color: $color-arriere;
        & h1 {
            position: relative;
            top: 35px;
            margin: 0 20px;
            font-family: $page-police;
            font-size:$titre1-taille;
        }
        & .resto {
            width: auto;
            display: flex;
            //flex-direction: column;
            flex-wrap: wrap;
            //margin: auto;
            padding: 40px 0;
            position: relative;
            @include version-tablette{
                display: flex;
                justify-content: center;
                
            }
            &-carte {
                border-radius: 15px;
                background: white;
                width: 90%;
                margin: 10px auto;
                position:relative;
                overflow: hidden;
                &__nouveau {
                    & p {
                        background-color: $color-tertiaire;
                        color: darken($color-tertiaire, 50%);
                        width: 70px;
                        padding: 5px;
                        position: absolute;
                        right: 10px;
                    }

                }
                /*@include version-tablette {
                    width: 480px;
                    height: auto;
                }*/
                
                @include version-tablette {

                    margin-bottom: 25px;
                    //height: 300px;
                    height: auto;
                    max-width: 45%;
                    margin: 1rem;
                }

                &--img {
                    width: $allwidth;
                    border-radius: 15px 15px 0 0 ;
                    height: 160px;
                    object-fit: cover;
                    /*@include version-desktop {
                        height: 240px;
                    }*/
                    @include version-tablette{
                        height: 15em;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                &__footer{
                    padding-bottom: 20px;
                    position: initial;
                    //overflow: hidden;
                }
                &__description {
                    color: black;

                    & h4{
                        margin: 10px 10px;
                    }
                    & p{
                        margin:-5px 10px;
                        @extend %textopacy;
                        
                    }
                }
                .resto-carte {
                    &__icone {
                        @include heartempty;
                        @include heartsize;
                        @include version-tablette {
                            top: 255px;
                        }
                    }
                    
                    &__solid {
                        position: absolute;
                        @include heartsize;
                        overflow: hidden;
                        background: white;
                        color:black;
                        z-index: 0;
                        &:hover {
                            color: transparent;
                            animation: heart 3s forwards;
                        }
                        @include version-tablette {
                            top:255px;
                        }
                        
                    }
                }
            }
        }
       
        
    }
        .carte1{
            width: auto;
            cursor: pointer;
            background-color: $color-arriere-form;
            &-img {
                width: $allwidth;
                object-fit: cover;
            }
            &-background {
                background-color: $color-arriere-form;
                border-radius: 50px 50px 0 0;
                padding: 15px;
                position: relative;
                top: -45px;
                margin-bottom: -45px;
                @include version-tablette {
                    top:-200px;
                    margin-bottom: -200px;
                }
                
            }
            & h3 {
                border-bottom: 2px solid $color-tertiaire;
                width: 50px;
                padding: 5px 0;
            }
            
            &-header {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                
                &__icone {
                    @include heartempty;  
                    font-size: 30px; 
                    right: 30px;
                    top: 40px;
                }
                &__solid {
                    @include heartfull;
                    background: $color-arriere-form;

                    &:hover {
                        @include hearthover;
                    }
                }
                
            }

            &-presentation {
                width: auto;
                display: flex;
                flex-direction: column;
                margin: auto;
                opacity: 0;
                transition: ease-in 2s;
                
                &:nth-child(3) {
                    
                    animation: slidedown 1s 0.5s forwards;
                }
                &:nth-child(5){

                    animation: slidedown 1s 1s forwards;
                }
                &:nth-child(7){

                    animation: slidedown 1s 1.5s forwards;
                }

                &__menu{
                    width: auto;
                    border-radius: 15px;
                    @extend %shadowpage;
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    transition: ease-in-out 500ms;
                    overflow: hidden;
                    &__name {
                        display: flex;
                        flex-direction: column;
                        margin: -12px 10px;
                        overflow: hidden;
                        & h4 {
                            margin-bottom: -9px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        & p {
                            white-space: nowrap;//empeche le retour à la ligne 
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @extend %textopacy;
                            
                        }  
                    }
                     
                    &__price {
                        display: flex;
                        align-items: flex-end;
                        & p{
                            padding: 10px;
                        }

                    }
                }
                    @include version-desktop {
                        margin: 10px 20px;
                    }
                
                &__animation {
                    
                    
                    &__check {

                            background-color: $color-tertiaire;
                            color: white;
                            text-align: center;
                            padding: 25px;
                            border-radius: 0 15px 15px 0;
                            overflow: hidden;
                            margin-right: -66px;
                            transition: margin-right 500ms ease-in-out;
                                &__rotate {
                                    transition: transform 500mss;
                                }

                    }
                        
                } 
                   
            } 
             
    }   
    /*.carte1-presentation__animation__check{
        transition: right 500ms ease-in-out;
        display: none;
    }   */
    
    .carte1-presentation__menu:hover .carte1-presentation__animation__check {
        margin-right: 0px;
        /*@include version-tablette {
            right: 0px;
        }*/
    }

    .carte1-presentation__menu:hover .carte1-presentation__animation__check .carte1-presentation__animation__rotate{
        animation: survol 1s;
        
        
        
    }
    /*.carte1-presentation__menu:hover .carte1-presentation__animation__check .carte1-presentation__animation__rotate {
        transform: rotate(360deg);
    }*/
    