

.form {
        background-color: $color-arriere-form;
        &__localisation {
            background-color: darken($color-arriere-form, 10%);
            //opacity: 0.8;
            display: flex;
            justify-content: center;
            padding: 15px;
            box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%) inset;
            &--champ {
                border: none;
                text-align: center;
                margin: 0 5px;
                background-color: darken($color-arriere-form, 10%);
                &:focus {
                    outline: none ;
                    border: 2px solid darken($color-arriere-form, 50%);
                    border-radius: 15px;
                }
                }
        }
        &__recherche {
    
            text-align: center;
            padding: 30px 30px 50px 30px;
            & h1{
                font-family: $page-police;
            }
            p {
                @extend %textopacy;
            }
        }
    }

              

