
.header-logo {
    width: 100%;
    box-shadow: $page-shadow-size #fff;
    padding: 18px;
    &__link{
        display: flex;
        justify-content: center;
    }
    &__img{
        width: 50%;
    }

    @include version-tablette {
        width: auto;
        border: 1px solid red;
        &__img{
            width: 30%;
        }


    }

    @include version-desktop {
        width: auto;
        border: 1px solid;
        &__link{
            display: flex;
            justify-content: center;
        }
        &__img {
            width: 20%;
        }
    }    
}
    
