.fonctionnement {

    @include version-desktop {
        &-fonctionnement {
            width: auto;
            //display: flex;
            //align-items: center;
        }
    }

        width: auto;
        margin: 0 30px;
        margin: 10px 30px;
        display: flex;
        flex-direction: column;
        position: relative;
        &__etape{
            border-radius: 20px;
            box-shadow: 0 6px 12px 0 rgb(0 0 0 / 11%);
            background-color: $color-arriere;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            position: initial;
            overflow: hidden;
        }
        
        &__cercle {
                position: absolute;
                left: -10px;
                color: white;
                font-size: $size-icone;
                background-color: $color-primaire;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                & p {
                    position: absolute;
                    bottom: -11px;
                    right: 7px;
                }

            @include version-desktop{
                position: initial;
            }
            
        }
        &__icone {
            position: absolute;
            left: 25px;
            color: $color-icone;
            font-size: $size-icone;
            @include version-desktop {
                position: initial;
                padding: 10px;
            }
        }
        &__color {
            color: $color-primaire;
        }
        
        &__backcolor {

            background-color: #EE82EE2C;
        }
        
    }


