a {
    text-decoration: none;
}

.fonctionnement {

    width: auto;
    margin: 0 30px;
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include version-tablette {
        width: 50%;
        margin: auto;
    }

    & h1 {
        font-family: $page-police;
    }

    &__etape {
        border-radius: 20px;
        @extend %shadowpage;
        background-color: $color-arriere;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        position: initial;
        overflow: hidden;

        &:hover {
            background-color: #EE82EE2C;
        }

        & h4 {
            margin-left: 33px;

            @include version-tablette {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__cercle {
        position: absolute;
        left: -10px;
        color: white;
        font-size: $size-icone;
        background-color: $color-primaire;
        border-radius: 50%;
        width: 20px;
        height: 20px;

        & p {
            position: absolute;
            bottom: -11px;
            right: 7px;
        }

    }

    &__icone {
        position: absolute;
        left: 20px;
        color: $color-icone;
        font-size: $size-icone;
    }



}

.fonctionnement__etape:hover .fonctionnement__icone {

    color: $color-primaire;

}